<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>

{% if error != None %}
    <script>
        alert("{{ error }}");
    </script>
{% endif %}

<form method="post">
    <h1>Регистрация</h1>
    {% csrf_token %}
    <p>Имя пользователя: <input required type="text" name="username"></p>
    <p>Пароль: <input required type="password" name="password1"></p>
    <p>Повторить пароль: <input required type="password" name="password2"></p>
    <p><input type="submit"></p>
</form>
</body>
</html>